/*
 * Copyright (c) 2021 Tokita, Hiroshi <tokita.hiroshi@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <freq.h>
#include <mem.h>

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "nuclei,evalsoc-dev", "nuclei-dev";
	model = "Nuclei,evalsoc";

	clocks {
		coreclk: core-clk {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <DT_FREQ_M(50)>;
		};

		tlclk: tl-clk {
			#clock-cells = <0>;
			compatible = "fixed-factor-clock";
			clocks = <&coreclk>;
			clock-div = <1>;
		};
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			clock-frequency = <DT_FREQ_M(50)>;
			compatible = "nuclei,riscv", "riscv";
			riscv,isa = "rv32imafdc";
			reg = <0>;
			cpu0_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				#interrupt-cells = <1>;
				interrupt-controller;
			};

		};

		cpu1: cpu@1 {
			clock-frequency = <DT_FREQ_M(50)>;
			compatible = "nuclei,riscv", "riscv";
			riscv,isa = "rv32imafdc";
			reg = <1>;
			cpu1_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};

		cpu2: cpu@2 {
			clock-frequency = <DT_FREQ_M(50)>;
			compatible = "nuclei,riscv", "riscv";
			riscv,isa = "rv32imafdc";
			reg = <2>;
			cpu2_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};

		cpu3: cpu@3 {
			clock-frequency = <DT_FREQ_M(50)>;
			compatible = "nuclei,riscv", "riscv";
			riscv,isa = "rv32imafdc";
			reg = <3>;
			cpu3_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};

		cpu4: cpu@4 {
			clock-frequency = <DT_FREQ_M(50)>;
			compatible = "nuclei,riscv", "riscv";
			riscv,isa = "rv32imafdc";
			reg = <4>;
			cpu4_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};

		cpu5: cpu@5 {
			clock-frequency = <DT_FREQ_M(50)>;
			compatible = "nuclei,riscv", "riscv";
			riscv,isa = "rv32imafdc";
			reg = <5>;
			cpu5_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};

		cpu6: cpu@6 {
			clock-frequency = <DT_FREQ_M(50)>;
			compatible = "nuclei,riscv", "riscv";
			riscv,isa = "rv32imafdc";
			reg = <6>;
			cpu6_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};

		cpu7: cpu@7 {
			clock-frequency = <DT_FREQ_M(50)>;
			compatible = "nuclei,riscv", "riscv";
			riscv,isa = "rv32imafdc";
			reg = <7>;
			cpu7_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};
	};

	ilm: memory@80000000 {
		compatible = "mmio-sram";
		reg = <0x80000000 DT_SIZE_K(256)>;
	};

	dlm: memory@90000000 {
		compatible = "mmio-sram";
		reg = <0x90000000 DT_SIZE_K(256)>;
	};

	sram0: memory@A0000000 {
		compatible = "mmio-sram";
		reg = <0xA0000000 DT_SIZE_K(128)>;
	};

	sram1: memory@A0200000 {
		compatible = "mmio-sram";
		reg = <0xA0200000 DT_SIZE_K(128)>;
	};

	ddr0: memory@B0000000 {
		compatible = "mmio-sram";
		reg = <0xB0000000 DT_SIZE_M(256)>;
	};

	ddr1: memory@C0000000 {
		compatible = "mmio-sram";
		reg = <0xC0000000 DT_SIZE_M(256)>;
	};

	flash0: memory@20000000 {
		compatible = "mmio-sram";
		reg = <0x20000000 DT_SIZE_M(8)>;
	};

	soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		interrupt-parent = <&eclic>;
		ranges;

		systimer: timer@18030000 {
			compatible = "nuclei,systimer", "riscv,machine-timer";
			reg = <0x18030000 0x8 0x18030008 0x8>;
			interrupts-extended = <&eclic 7 0>;
		};

		clint: clint@18031000 {
			compatible = "sifive,clint0";
			interrupts-extended = <&cpu0_intc 3 &cpu0_intc 7
					       &cpu1_intc 3 &cpu1_intc 7
					       &cpu2_intc 3 &cpu2_intc 7
					       &cpu3_intc 3 &cpu3_intc 7
					       &cpu4_intc 3 &cpu4_intc 7
					       &cpu5_intc 3 &cpu5_intc 7
					       &cpu6_intc 3 &cpu6_intc 7
					       &cpu7_intc 3 &cpu7_intc 7>;
			reg = <0x18031000 0x10000>;
		};

		eclic: interrupt-controller@18020000 {
			compatible = "nuclei,eclic";
			#address-cells = <0>;
			#interrupt-cells = <2>;
			interrupt-controller;
			reg =  <0x18020000 0x0001
				0x18020004 0x0004
				0x1802000b 0x0001
				0x18021000 0x1000>;
		};

		uart0: serial@10013000 {
			compatible = "nuclei,uart0";
			interrupts = <51 0>;
			reg = <0x10013000 0x1000>;
			reg-names = "control";
			status = "disabled";
		};

	};
};
