# Copyright (c) 2017 Jean-Paul Etienne <fractalclone@gmail.com>
# Copyright (c) 2024 Antmicro <www.antmicro.com>
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_NUCLEI_EVALSOC

# TODO: you need to change the default value
# according to your SoC systimer frequency
config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 32768

config RISCV_MCAUSE_EXCEPTION_MASK
	default 0xFFF

config RISCV_SOC_INTERRUPT_INIT
	default y

config RISCV_VECTORED_MODE
	default y if NUCLEI_ECLIC
	default n if !NUCLEI_ECLIC

config GEN_IRQ_VECTOR_TABLE
	default y if NUCLEI_ECLIC
	default n if !NUCLEI_ECLIC

config NUM_IRQS
	default 64 if  NUCLEI_ECLIC
	default 16 if !NUCLEI_ECLIC

# TODO: you need to change the align value
# according to your SoC interrupt number
# see mtvt description in Nuclei ISA Spec
config ARCH_IRQ_VECTOR_TABLE_ALIGN
	default 512 if NUCLEI_ECLIC && !64BIT
	default 1024 if NUCLEI_ECLIC && 64BIT

config RISCV_TRAP_HANDLER_ALIGNMENT
	default 64 if NUCLEI_ECLIC && !RISCV_VECTORED_MODE

endif # SOC_SERIES_NUCLEI_EVALSOC
